<app-base-component></app-base-component>
<div class="eventManagementClass">
  <app-table [dataSource]="sourceDataArray[0].workFlowDataSource" [rowActions]="sourceDataArray[0].rowActions"
  [columns]="sourceDataArray[0].workFlowTableColumns" [allColumnsSortable]="true" #workFlowTable
  [tableOptions]="sourceDataArray[0].tableOptions" (pageChanged)="pageChangedEvent($event)"
  [tableTitle]="sourceDataArray[0].tableTitle" [totalCount]="sourceDataArray[0].totalCount" (onRowActionBtnClicked)="actionButtonClicked($event)"
  ></app-table>
<div class="example-button-container">
  <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" class="addButton" (click)="addEvent()">
    <mat-icon>add</mat-icon>
  </button>
</div>
</div>
