<ng-container *ngIf="data.showas == 'form'">
  <div>
    <div class="dialog-title">
      <h1 class="formHeader" mat-dialog-title>{{data.title}}</h1>
    </div>
    <div mat-dialog-content>
      <app-dynamic-fields [pageName]="selectedPageName" [fldDataArray]="data"
        (dynamicFormResponse)="getDynamicFormValue($event)" (closeFlag)="onNoClick($event)" [buttonToShow]="showButton"></app-dynamic-fields>
    </div>
  </div>
</ng-container>

<div *ngIf="data.showas == 'dialog'">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>What's your favorite animal?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick(true)">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.action" cdkFocusInitial>Enter</button>
  </div>
</div>
