<div *ngIf="data.page == 'form'">
  <button class="close" mat-button (click)="onNoClick()">X</button>
  <h1 class="formHeader" mat-dialog-title>{{data.title}}

  </h1>
  <div mat-dialog-content>
    <app-dynamic-fields [fldDataArray]="data.flds"></app-dynamic-fields>
</div>
</div>

<div *ngIf="data.page == 'dialog'">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <!-- <mat-form-field>
    <input matInput [(ngModel)]="data.action">
  </mat-form-field> -->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.action" cdkFocusInitial>Enter</button>
  </div>
</div>
