.formHeader {
  border-bottom: 1px solid;
  text-align: center;
}
.cdk-overlay-pane.my-dialog {
  position: relative !important;
}
.close.mat-button {
  position: absolute;
  // top: 0;
  // right: 0;
  // padding: 5px;
  // line-height: 14px;
  min-width: auto;
}
.mat-grid-list {
  display: block;
  position: relative;
  text-align: center;
  /* padding: 0px 0px 0px 0px; */
}
.actionButton {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 3em;
}
