<!-- <app-base-component></app-base-component> -->
<app-nav-bar></app-nav-bar>
<mat-card class="customCard">

    <div class="row" >
        <div class="mat-elevation-z8">
            <!-- <dy-table></dy-table> -->
            <dy-table [dataSource]="sourceDataArray[0]?.workFlowDataSource"
                [rowActions]="sourceDataArray[0]?.rowActions" [columns]="sourceDataArray[0]?.workFlowTableColumns"
                [allColumnsSortable]="true" #workFlowTable [tableOptions]="sourceDataArray[0]?.tableOptions"
                (pageChanged)="pageChangedEvent($event)" [tableTitle]="sourceDataArray[0]?.tableTitle"
                [totalCount]="sourceDataArray[0]?.totalCount" [addDataFormBtnLabel]="'Product'"
                (onRowActionBtnClicked)="actionButtonClicked($event)"[addDataFormBtn]=true
                (addFormEvent)="addFormEvent($event)"></dy-table>
        </div>


    </div>

</mat-card>