.containerBody {
  margin-left: 65px;
  border: 1px solid;
}

.card-header .title {
  font-size: 17px;
  color: #000;
}

.card-header .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}
.viewGroupIcon {
  float: right;
  padding-right: 25px;
  display: flex;
  .viewIcon {
    padding-left: 5px;
    padding-right: 10px;
  }
}

.card-header {
  cursor: pointer;
  border-bottom: none;
}

.card {
  border: 1px solid #ddd;
}

.card-body {
  font-size: 20px;
  border-top: 1px solid #ddd;
}

.card-body:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}

a.hover:hover {
  text-decoration: underline;
}

.companyBodyClass {
  cursor: pointer;
  background-color: aliceblue;
}
.orgTab {
  padding: 8px;
  box-shadow: 2px 3px 4px 3px #888888;
}

.pstnTab {
  padding: 8px;
  box-shadow: 2px 3px 4px 3px #888888;
  background-color: transparent;
}

.empTab {
  padding: 8px;
  box-shadow: 2px 3px 4px 3px #888888;
}
.customCard {
  margin-left: 5%;
  height: 90%;
}
.disable_ripple:hover {
  // background: currentColor !important;
  // outline: none;
  // border-color: #9ecaed;
  // box-shadow: 0 0 10px #9ecaed;
  border: solid #8888;
  // border: 1px solid #4195fc; /* some kind of blue border */
  /* other CSS styles */

  /* round the corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  /* make it glow! */
  -webkit-box-shadow: 0px 0px 4px #4195fc;
  -moz-box-shadow: 0px 0px 4px #4195fc;
  box-shadow: 0px 0px 4px #4195fc;
}
.operationItems {
  text-align: right;
  .operationSpan {
    padding: 0px 5px 0px 5px;
  }
}

.example-headers-align {
  .positionRow {
    max-width: 30%;
    white-space: nowrap;
    mat-icon {
      margin: 0px 10px 0px 0px;
    }
  }
  .iconRow {
    text-align: right;
    display: block !important;
  }
}
mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color.ng-star-inserted.deleteIcon:hover {
  color: red;
}

mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color.editIcon:hover {
  color: #4195fc;
}
mat-icon.mat-icon.notranslate.personAddIcon.material-icons.mat-icon-no-color.ng-star-inserted.personAddIcon:hover {
  color: darkgreen;
}
