<!-- <app-nav-bar></app-nav-bar> -->
<app-base-component></app-base-component>
<mat-card class="customCard">
  <mat-accordion class="example-headers-align" multi="true">

    <mat-expansion-panel showToggle="true" *ngFor="let baseDt of baseData; let i = index;"
      [expanded]="companyClickedId === baseDt.cmpny_id" (opened)="setStep(baseDt.cmpny_id,'company')"
      class="disable_ripple">

      <mat-expansion-panel-header>Company : {{baseDt.cmpny_name}} </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent *ngIf="baseDt.orgInfo.length">
        <mat-accordion class="example-headers-align" multi="false">
          <div [attr.disabled]="true">
            <app-action-items [searchFldFlag]=true [sortFldFlag]=true [addFldFlag]=true [infoFldFlag]=true
              (sharedVarChange)="searchOn($event,'org')"></app-action-items>
          </div>
          <mat-expansion-panel
            *ngFor="let baseOrg of baseDt.orgInfo | orderBy : 'org_titl_tx': sortOrg | searchFilter : searchOrg ; "
            [expanded]="orgClickedId === baseOrg.org_unit_id" (opened)="setStep(baseOrg.org_unit_id,'org')"
            showToggle="true" class="disable_ripple">

            <mat-expansion-panel-header (click)="positionDetails(baseOrg.org_unit_id)">
              <mat-panel-title> Organisation: {{baseOrg.org_titl_tx}}</mat-panel-title>
              <mat-panel-description> Description for {{ "item" }} </mat-panel-description>
            </mat-expansion-panel-header>


            <ng-template matExpansionPanelContent>
              <mat-accordion class="example-headers-align" multi="false">

                <div *ngIf="pstnDataArray.length">
                  <app-action-items [searchFldFlag]=true [sortFldFlag]=true [addFldFlag]=true [infoFldFlag]=true
                    (sharedVarChange)="searchOn($event,'position')">
                  </app-action-items>
                </div>

                <mat-expansion-panel *ngFor="let pstnData of pstnDataArray| searchFilter : searchPstn;"
                  (click)="employeeDetails(pstnData.pstn_id)" [expanded]="pstnClickedId === pstnData.pstn_id"
                  (opened)="setStep(pstnData.pstn_id,'position')">

                  <mat-expansion-panel-header>
                    <mat-panel-title> positions: {{pstnData.pstn_titl_tx}}</mat-panel-title>
                    <mat-panel-description> Description for {{ pstnData.pstn_ds }} </mat-panel-description>
                  </mat-expansion-panel-header>

                  <ng-template matExpansionPanelContent>

                    <mat-card-content *ngIf="!pstnData.isVacant">
                      "Employee are yet to assign for this Position"
                    </mat-card-content>
                    <!-- <mat-form-field appearance="fill">
                      <mat-label>First name</mat-label>
                      <input matInput>
                    </mat-form-field> -->
                  </ng-template>
                </mat-expansion-panel>

              </mat-accordion>
            </ng-template>

            <mat-card-content *ngIf="pstnDataArray.length == 0">
              "Positions are not Found for this Organisation"
            </mat-card-content>
          </mat-expansion-panel>

        </mat-accordion>
      </ng-template>

      <mat-card-content *ngIf="baseDt.orgInfo.length == 0">
        "Organisation are not Found for this Company"
      </mat-card-content>
    </mat-expansion-panel>

  </mat-accordion>
</mat-card>
