<div class="row">
  <!-- <div class="row headerTab">herders</div> -->
  <div class="row">
    <div class="col-1" style="width: 5.4%;">
      <div class="sidebar close">
        <!-- <div class="logo-details">
                  <i class="bx bxl-c-plus-plus"></i>
                  <span class="logo_name">CodingLab</span>
              </div> -->
        <ul class="nav-links">
          <li *ngIf="loggedInRole == 1">
            <a href="#">
              <i class="bx bx-grid-alt"></i>
              <span class="link_name">Base To</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" (click)="toBase()">Company</a></li>
            </ul>
          </li>
          <li *ngIf="loggedInRole == 8 || loggedInRole == 1">
            <i class="bx bx-food-menu"></i>
            <ul class="sub-menu blank">
              <li><a class="link_name" (click)="navigateTo('empDetails')">Employee Management</a></li>
            </ul>
          </li>
          <li *ngIf="loggedInRole == 8 || loggedInRole == 1 || loggedInRole == 9">
            <div class="iocn-link">
              <i class="bx bx-tab"></i>
              <i class="bx bxs-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" (click)="navigateTo('schedule')">Today Schedules</a></li>
              <li><a (click)="navigateTo('approvals')">My Approvals</a></li>
            </ul>
          </li>
          <li *ngIf="loggedInRole == 8 || loggedInRole == 1">
            <div class="iocn-link">
              <i class="bx bx-tab"></i>
              <i class="bx bxs-chevron-down arrow"></i>
            </div>
            <ul class="sub-menu">
              <li><a class="link_name" (click)="navigateTo('schedule')">Report</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-11" style="width: 94%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e) => {
      let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
      arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  });
</script>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>WinZoneCloud </span>
    <span *ngIf="ClientName" style="padding-left: 10px;"><span> | </span><span></span>
      {{ClientName}} </span>
    <span class="spacer"></span>
    <span>{{userName}}</span>
    <span><a mat-button routerLink="/contactus" class="headerIcon" title="Notification">
        <i class="fa fa-bell"></i>
      </a></span>
    <span><a mat-button routerLink="/contactus" class="headerIcon" title="Contact us">
        <i class="fa fa-question-circle fa-2xl" aria-hidden="true"></i>
      </a></span>
    <span *ngIf="userLoggedin" (click)="logout()" class="headerIcon" title="Logout"><i class="fa fa-sign-out fa-2xl"
        aria-hidden="true"></i></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
