<mat-grid-list cols="3" rowHeight="2:1" [gutterSize]="'10px'">
  <form [formGroup]="dynamicForm">
    <mat-grid-tile *ngFor="let field of dynamicFlds " md-colspan-sm="1" md-colspan-xs="1">

      <mat-form-field appearance="outline" *ngIf="field.type == 'text'">
        <mat-label>{{field.displayName}}</mat-label>
        <input matInput placeholder='please enter {{field.displayName}}' [formControlName]="field.fld_nm"
          autocomplete="off">
        <mat-error *ngIf="dynamicForm.get(field.fld_nm)?.hasError('required')">{{field.displayName}} is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="field.type == 'textarea'">
        <mat-label>{{field.displayName}}</mat-label>
        <textarea matInput placeholder="please enter {{field.displayName}}" [formControlName]="field.fld_nm"
          autocomplete="off"></textarea>
        <mat-error *ngIf="dynamicForm.get(field.fld_nm)?.hasError('required')">{{field.displayName}} is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="field.type == 'date'" style="width: 88%;">
        <mat-label>{{field.displayName}}</mat-label>
        <input matInput placeholder='please enter {{field.displayName}}' [matDatepicker]="picker"
          [formControlName]="field.fld_nm" autocomplete="off" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dynamicForm.get(field.fld_nm)?.hasError('required')">{{field.displayName}} is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="field.type == 'select'">
        <mat-select matInput placeholder="{{field.displayName}}" [formControlName]="field.fld_nm" autocomplete="off">
          <mat-option> Select </mat-option>
          <mat-option *ngFor="let option of field.options" [value]="option.id">{{ option.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="dynamicForm.get(field.fld_nm)?.hasError('required')">{{field.displayName}} is required
        </mat-error>
      </mat-form-field>

    </mat-grid-tile>
  </form>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
  <button *ngIf="buttonToShow.includes('create')" mat-raised-button color="primary" type="submit" (click)="onSubmit()"
    class="actionButton">Create</button>
  <button *ngIf="buttonToShow.includes('cancel')" mat-raised-button color="warn" type="submit"
    (click)="onclose()">Cancel</button>
  <button *ngIf="buttonToShow.includes('close')" mat-raised-button color="warn" type="submit"
    (click)="onclose()">Close</button>
</mat-grid-list>
