<div class="container">
  <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div *ngFor="let field of dynamicFlds">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  *ngIf="field.type == 'text'">
            <mat-form-field appearance="outline">
              <mat-label>{{field.displayName}}</mat-label>
              <input matInput placeholder='please enter {{field.displayName}}' [formControlName]="field.fld_nm" autocomplete="off">
            </mat-form-field>
          </div>
          <div *ngIf="field.type == 'textarea'">
            <mat-form-field appearance="outline">
              <mat-label>{{field.displayName}}</mat-label>
              <input matInput placeholder='please enter {{field.displayName}}' [formControlName]="field.fld_nm" autocomplete="off">
              <textarea matInput placeholder="please enter {{field.displayName}}" [formControlName]="field.fld_nm" autocomplete="off"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="field.type == 'date'">
            <mat-form-field appearance="outline">
              <mat-label>{{field.displayName}}</mat-label>
              <input matInput placeholder='please enter {{field.displayName}}' [matDatepicker]="picker"
                [formControlName]="field.fld_nm" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>
          <div *ngIf="field.type == 'select'">
            <mat-form-field>
              <mat-select matInput placeholder="{{field.displayName}}"  [formControlName]="field.fld_nm">
                <mat-option > Select </mat-option>
                <mat-option *ngFor="let option of field.options" [value]="option.id">{{ option.name }}-{{option.id}}  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Create</button>
  </form>
</div>
